In [2]:
import pandas as pd
import csv

In [5]:
df = pd.read_csv('cities-jobs.csv')

In [7]:
df.head()

,Overall Rank,City,Total Score,Job Market Rank,Socioeconomic Environment Rank
0,1,"Palo Alto, CA",73.52,1,65
1,2,"Pacifica, CA",69.74,2,98
2,5,"Menlo Park, CA",66.66,3,144
3,3,"Rancho Santa Margarita, CA",68.74,4,26
4,6,"San Rafael, CA",66.54,5,107

In [8]:
df = df.rename(columns={
                        'Total Score':'Percentage of Jobs'
                        })

In [9]:
df  = df[['City','Percentage of Jobs','Job Market Rank']]

In [10]:
df.head()

                         City  Percentage of Jobs  Job Market Rank
0               Palo Alto, CA               73.52                1
1                Pacifica, CA               69.74                2
2              Menlo Park, CA               66.66                3
3  Rancho Santa Margarita, CA               68.74                4
4              San Rafael, CA               66.54                5

In [11]:
df.to_csv('final_cities.csv')